* {
    background-color: rgb(240, 240, 239);
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    height: 800px;
    width: auto;
}

#recipes {
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    background-color: rgba(170, 170, 170, 0.8);
    padding: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title a:link {
    text-decoration: none;
    background-color: transparent;
}

#title a:visited {
    text-decoration: none;
    color: black;
}


#title a:hover {
    text-decoration: none;
}


#title a:active {
    text-decoration: none;
}


#container {
    position: relative;
    text-align: center;
    color: white;
}

/*#nav-bar {
    width: 100%;
    text-align: center;
}*/

#nav-ul {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #30190b;
    text-align:  center;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #30190b;
    font-size: larger;
}
  
li a:hover {
    background-color: #52311D;
}

dt {
    font-size: larger;
}

dd {
    text-align: center;
    line-height: 1.8;
    display:table-row;
}

footer a{
    text-decoration: none;
}